body {
    padding: 10px;
}

.errorlist {
    color: red;               
    background: #ffe6e6;      
    border: 1px solid red;    
    padding: 8px 12px;        
    border-radius: 5px;       
    list-style: none;         
    margin: 5px 0;
}

.errorlist li {
    margin: 3px 0;
    font-weight: bold;
}

.listing-link{
    color: black;
    display: block;
    margin-bottom:1rem;
}

.listing-link:hover{
    text-decoration: none;
}