{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        {% for listing in listings %}
            <a class="listing-link" href="{% url 'listing' id=listing.pk %}">
                <div class="card" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img style="max-height: 200px; object-fit: cover;" class="img-fluid" src="{{listing.image}}" alt="Item image">
                        </div>
                        <div  class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{listing.title}}</h5>
                                <div><span style="font-weight: bold;"> Price: </span> {{listing.starting_bid}}</div>
                                <div style="font-weight: lighter; font-size: small;">Created {{listing.date_time}}</div>
                                <div>{{listing.description}}</div>
                            </div>
                        </div>  
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
            <h5 style="color: red;">There is no item in the listing</h5>
    {% endif %}

{% endblock %}